# Database connection
DATABASE_URL=postgresql://user:password@localhost:5432/dream_pictures

# Admin credentials for fly.io
ADMIN_USERNAME=714752420017
ADMIN_PASSWORD=Ba@606368

# Server settings
NODE_ENV=development
PORT=5000
